params {
  input = "$baseDir/data/nuc.fasta"
  outputDir = "$launchDir/output"
  fastaSubsetSize = 1
  appls = "gene3d"
  outputFile = "out.tsv"
}
process {
  container = 'hmmer'
}
docker {
    enabled = true
    runOptions = "-v $baseDir/../Iprscan5/data/downloadedData/gene3d/4.3.0/:/opt/hmmer/data/"
}